.conteudo {
    width: 100%;
    text-align: center;
}
.btn {
    background-color: rgb(158, 182, 214);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#a1{
    display: none;
}
#a2{
    display: none;
}
#a3{
    display: none;
}
#a4{
    display: none;
}
#a5{
    display: none;
}
.aba1{
    background-color: yellowgreen;
    width: 100%;
    height: 400px;
}
.aba2{
    background-color: burlywood;
    width: 100%;
    height: 400px;
}
.aba3{
    background-color:blueviolet;
    width: 100%;
    height: 400px;
}
.aba4{
    background-color: royalblue;
    width: 100%;
    height: 400px;
}
.aba5{
    background-color: red;
    width: 100%;
    height: 400px;
}
body {
   background-color: rgb(33, 73, 255);
}
.tablet {
    display: none;
}
.desktop {
    display: none;
}
.barra {
    width: 100%;
    height: 80px;
    background-color: rgb(113, 145, 211);
    text-align: center;
}
.mobile {
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:  rgb(255, 55, 55);

}
@media (min-width: 720px) {
    .barra {
       height: 80px;
       background-color: rgb(212, 83, 32);
    }
    .mobile {
       display: none;
    }
    .tablet {
        display: inline;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 60px;
        color:   rgb(251, 254, 255);
    }
    .conteudo {
        text-align: right;
    }
    .btn {
        margin-top: 100px;
        background-color: rgb(168, 189, 235);
        width: 50%;
        font-size: 40px;
    }
}
@media (min-width:1228px){
    .barra {
        height: 100px;
        background-color:rgb(48, 64, 97);
    }
    .tablet {
        display: none;
    }
    .desktop {
        display: inline;
        font-size: 80px;
        color: rgb(255, 255, 255);
    }
    .conteudo {
        text-align: left;
    }
}
